In [1]:
import sqlite3

In [2]:
#create connection to the SQLite DB
conn = sqlite3.connect('test.db')

In [3]:
conn

In [4]:
# Create a cursor object to execute SQL Commands
cursor = conn.cursor()

In [5]:
# Create a table
cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
    )
    """
)

In [8]:
# Insert data into table
cursor.execute(
"INSERT INTO employees (name,age,department) VALUES (?,?,?)", 
('John Doe', 30, 'Sales')
)

In [9]:
# Retreive data
cursor.execute("SELECT * FROM employees")

In [10]:
rows = cursor.fetchall()

In [11]:
rows

[(1, 'John Doe', 30, 'Sales')]

In [12]:
conn.commit()

In [13]:
conn.close()

In [2]:
import numpy as np

In [3]:
#creating connection
conn = sqlite3.connect('vector-db-test.db')
#creating cursor to execute commands
cursor=conn.cursor()

In [4]:
# BLOB - FLOAT
cursor.execute(
"""
    CREATE TABLE IF NOT EXISTS vectors (
        id INTEGER PRIMARY KEY,
        vector BLOB NOT NULL
    )
"""    
)

In [5]:
# generate some sample vectors
vect1 = np.array([1.2,3.4,2.1,0.8])
vect2 = np.array([2.7,1.5,3.9,2.3])

In [9]:
vect1.tobytes()

b'333333\xf3?333333\x0b@\xcd\xcc\xcc\xcc\xcc\xcc\x00@\x9a\x99\x99\x99\x99\x99\xe9?'

In [10]:
cursor.execute(
    "INSERT INTO vectors (vector) VALUES (?)",
    (sqlite3.Binary(vect1.tobytes()),) #it requires to parse it into binary objects, bytes to store them in vector db
)

In [11]:
cursor.execute(
    "INSERT INTO vectors (vector) VALUES (?)",
    (sqlite3.Binary(vect2.tobytes()),)
)

In [12]:
#retriving data
cursor.execute("SELECT vector FROM vectors")

In [13]:
rows = cursor.fetchall()
rows

[(b'333333\xf3?333333\x0b@\xcd\xcc\xcc\xcc\xcc\xcc\x00@\x9a\x99\x99\x99\x99\x99\xe9?',),
 (b'\x9a\x99\x99\x99\x99\x99\x05@\x00\x00\x00\x00\x00\x00\xf8?333333\x0f@ffffff\x02@',)]

In [14]:
#retiving from bytes to float
vector = np.frombuffer(rows[0][0], dtype = np.float64)

In [15]:
vector

array([1.2, 3.4, 2.1, 0.8])

In [16]:
vector2 = np.frombuffer(rows[1][0], dtype = np.float64)
vector2

array([2.7, 1.5, 3.9, 2.3])

In [17]:
vectors = []
for row in rows:
    vector = np.frombuffer(row[0], dtype=np.float64)
    vectors.append(vector)

In [18]:
vectors

[array([1.2, 3.4, 2.1, 0.8]), array([2.7, 1.5, 3.9, 2.3])]

In [19]:
#Vector Similiarity Search (VSS)

In [20]:
query_vect = np.array([1.0, 3.2, 2.0, 0.5])

In [21]:
cursor.execute("""
    SELECT vector FROM vectors ORDER BY abs(vector - ?) ASC
""", (sqlite3.Binary(query_vect.tobytes()),)) #ORDER BY i szukamy absolut roznicy (odleglosci miedzy vectorem tym a tym z argumentu

In [22]:
res = cursor.fetchone()

In [23]:
np.frombuffer(res[0], dtype=np.float64)

array([2.7, 1.5, 3.9, 2.3])

In [24]:
#powyzsze obliczenia to abs dystans, ale moglby to by byc dot product/ euclidian distance etc